<script>
export default {
	name: "SectionWelcome",
	props : {
		id:{
			default: "",
			type: String
		},
		image:{
			default: "",
			type: String
		},
		alt:{
			default: "",
			type: String
		},
		url:{
			default: "",
			type: String
		},
	},
	data: function() {
		return {
			todos: [
				{ id: 1, image: "images/index-02/welcome-01.png",
					alt: "", text:"Learn Anywhere Online", url:"#"},
				{ id: 2, image: "images/index-02/welcome-02.png",
					alt: "", text:"Graduation Certificate", url:"#"},
				{ id: 3, image: "images/index-02/welcome-03.png",
					alt: "", text:"Professional Teachers", url:"#"},
			]
		};
	},
};
</script>

<template>
  <section class="Welcome-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 section-header-box">
          <div class="section-header">
            <h2>welcome to eduread</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div 
          v-for="todo in todos" 
          :key="todo.id" 
          class="col-sm-4 wel-ful-box-2">
          <div class="wel-text-box">
            <div class="wel-icon">
              <img
                :src="todo.image"
                :alt="todo.alt">
            </div>
            <div class="wel-text">
              <h3>{{ todo.text }}</h3>
              <p></p>
              <a :href="url">read more<i
                aria-hidden
                class="fas fa-long-arrow-alt-right"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
