<script>
import { FontAwesomeIcon, FontAwesomeLayers } from "@fortawesome/vue-fontawesome";

export default {
	name: "SectionContact",
	components: {
		"font-awesome-icon":FontAwesomeIcon,
		"font-awesome-layers":FontAwesomeLayers
	},
	props : {
		id:{
			default: "",
			type: String
		},
		url:{
			default: "",
			type: String
		}
	},
	data: function() {
		return {
			contacts: [
				{ id: 1, url: "https://www.facebook.com/colearningspace/", icon: ["fab", "facebook"], classes:"facebook" },
				{ id: 2, url: "https://twitter.com/clsxid", icon: ["fab", "twitter"], classes:"twitter" },
				{ id: 3, url: "https://www.linkedin.com/company/colearningspace", icon:["fab", "linkedin"], classes:"linkedin" },
				{ id: 4, url: "https://www.instagram.com/colearningspace", icon:["fab", "instagram"], classes:"instagram" }
			]
		};
	},
};
</script>

<template>
  <section class="contact-area-02">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 contact-info">
          <div class="col-sm-12 contact-title">
            <h2>Contact Info</h2>
            <p class="content-sub_p">Welcome to our Website. We are glad to have you around.</p>
          </div>
          <div class="col-sm-12 contact-box">
            <div class="row">
              <div class="col-sm-12 col-md-6 single-address-box">
                <div class="single-address">
                  <font-awesome-icon
                    icon="envelope"
                    size="lg"
                    pull="left"
                    fixed-width />
                  <h4>Email</h4>
                  <p>cs@co-learningspace.web.id</p>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 single-address-box">
                <div class="single-address">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 single-address-box">
                <div class="single-address">
                  <h4></h4>
                  <p></p>
                </div>
              </div>
              <div class="col-sm-12 single-address-box">
                <ul class="list-unstyled">
                  <li
                    v-for="contact in contacts"
                    :key="contact.id">
                    <a :href="contact.url">
                      <font-awesome-icon
                        :icon="contact.icon"
                        :class="contact.classes"
                        size="lg"
                        fixed-width />
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6  offset-1 contact-form">
          <div class="row">
            <div class="col-sm-12 contact-title-btm">
              <h2>About Us</h2>
              <p class="content-sub_p">Welcome to our Website. We are glad to have you around.</p>
            </div>
          </div>
          <div class="input-contact-form">
            <div id="contact">
              <div id="message">Co-Learning Space (CLS) is an online hub and a community that has goal to bring together people that have the same spirit and interest to study together from any open educational resources available. Through our platform, we hope we could help as many people to learn by conducting group discussion and online discussion. CLS was founded under the belief that every people should have the right to learn. We also believe that learning is a life time process. Let’s not stop learning and learn together!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
