<script>
import { FontAwesomeIcon, FontAwesomeLayers } from "@fortawesome/vue-fontawesome";

export default {
	name: "SectionParents",
	components: {
		"font-awesome-icon":FontAwesomeIcon,
	},
	props : {
		id:{
			default: "",
			type: String
		},
		stars:{
			default: "",
			type: String
		},
		image:{
			default: "",
			type: String
		},
		alt:{
			default: "",
			type: String
		},
		name:{
			default: "",
			type: String
		},
		student:{
			default: "",
			type: String
		},
		relation:{
			default: "",
			type: String
		},
	},
	data: function() {
		return {
			parents: [
				{ id: 1, stars: 5, image: "images/index/teachar-s-01.jpg", alt: "", name:"Jhonthan Smith", student:"Alexis", relation:"Parents"},
				{ id: 2, stars: 2,  image: "images/index/teachar-s-03.jpg", alt: "", name:"Taylor Swift", student:"Jerry", relation:"Parents"},
				{ id: 3, stars: 5,  image: "images/index/teachar-s-02.jpg", alt: "", name:"oscar charls", student:"Perry", relation:"Parents"},
				{ id: 4, stars: 3,  image: "images/index/teachar-s-04.jpg", alt: "", name:"Jhonthan Smith", student:"Alexis", relation:"Parents"},
				{ id: 5, stars: 5,  image: "images/index/teachar-s-02.jpg", alt: "", name:"Jhonthan Smith", student:"Alexis", relation:"Parents"},
			]
		};
	},
};
</script>

<template>
  <section class="stu-parent-say-area">
    <div class="overlay-bg">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 section-header-box">
            <div class="section-header">
              <h2>WHAT Students Parent SAY</h2>
              <p></p>
            </div><!-- ends: .section-header -->
          </div>
        </div>

        <div class="row">
          <div
            class="screen-content-box wow fadeInUp"
            data-wow-duration="1.5s"
            data-wow-delay=".5s">
            <div
              id="parent-say-02"
              class="testimonial-wrapper owl-carousel">

              <div 
                v-for="parent in parents" 
                :key="parent.id" 
                class="single--item">
                <div class="content-box">
                  <p></p>
                  <ul class="fa-ul rating-box">
                    <li 
                      v-for="n in parent.stars" 
                      :key="n">
                      <font-awesome-icon 
                        icon="star" 
                        fixed-width 
                        aria-hidden/>
                    </li>
                  </ul>
                </div>
                <div class="images-box">
                  <ul class="fa-ul">
                    <li><img
                      :src="parent.image"
                      :alt="alt"></li>
                    <li>
                      <h3>{{ parent.name }}</h3>
                      <span>{{ parent.student }}, {{ parent.relation }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> <!--./row-->
      </div>
    </div>
  </section>
</template>
