<script>
import { FontAwesomeIcon, FontAwesomeLayers } from "@fortawesome/vue-fontawesome";

export default {
	name: "SectionVideo",
	components: {
		"font-awesome-icon":FontAwesomeIcon,
		"font-awesome-layers":FontAwesomeLayers
	},
	props : {
		videoUrl:{
			default: "",
			type: String
		}
	},
};
</script>
<template>
  <section class="video-main-area video">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 video-play-btn">
          <a
            :href="videoUrl">
            <font-awesome-layers
              fixed-width
              size="7x">
              <font-awesome-icon
                icon="circle"
                class="text-cls" />
              <font-awesome-icon
                icon="play"
                class="text-white"
                transform="shrink-6 right-1"/>
            </font-awesome-layers>
          </a>
        </div>
        <!-- ends: .section-header -->
      </div>
    </div>
  </section>
</template>
