$cls-color:#346194;
$facebook:#3b59a1;
$twitter:#1da1f2;
$linkedin:#0077b5;
$instagram:#f56040;
$google:#dd4b39;
$skype:#1da1ff;
$whatsapp:#128c7e;
$line:#3eaf0e;

$theme-colors: (
  'cls':$cls-color,
  'facebook': $facebook,
  'twitter':$twitter,
  'linkedin':$linkedin,
  'instagram':$instagram,
  'google':$google,
  'skype':$skype,
  'whatsapp':$whatsapp,
  'line':$line
);
