
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// EduRead
@import 'eduread/eduread';

// Search
@import '~jquery-typeahead/src/jquery.typeahead';

// Phone Input
@import '~intl-tel-input/src/css/intlTelInput';

.intl-tel-input {
    width: 100%;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}
