/* ====================================
		===[ Default Style ]===
====================================== */

/* Variables */
$primarycolor: #666;
$montsrrat: 'Montserrat',sans-serif;
$opensans: 'Open Sans',sans-serif;
$section-h-color:#333;
$section-h-color-inverse:#fff;
$cls-color:#346194;
$gotham: 'Gotham', sans-serif;

$facebook:#3b59a1;
$twitter:#1da1f2;
$linkedin:#0077b5;
$instagram:#f56040;
$google:#dd4b39;
$skype:#1da1ff;
$whatsapp:#128c7e;
$line:#3eaf0e;

body {
  font-family: $gotham;
  overflow-x: hidden;
}

p {
  font-family: $gotham;
  font-size: 14px;
  color: $primarycolor;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $gotham;
}

h2 {
  margin: 0;
  text-align: center;
  color: $section-h-color;
  font-family: $gotham;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  position: relative;
}

.section-header-box {
  margin-bottom: 40px;
}

.section-header,
.section-header-l {
  padding-bottom: 25px;
  text-align: center;

  &::before {
    border-bottom: 1px solid $section-h-color;
    bottom: 0;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100px;
  }

  p {
    margin: 0;
  }
}

.section-header-l {
  h2 {
    text-align: left;
  }

  &::before {
    left: 15px;
    transform: none;
  }
}

h3 {
  line-height: 26px;
  margin: 0;
  padding-bottom: 20px;
  color: $section-h-color;
  font-size: 18px;
  text-transform: uppercase;
  font-family: $montsrrat;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
