@font-face {
  font-family: 'Gotham';
  font-display: swap;
  src: url('fonts/Gotham-Medium.eot');
  src:
    url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/Gotham-Medium.woff') format('woff'),
    url('fonts/Gotham-Medium.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
}
